<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
  IgnorableNamespaces="uap rescap uap18">

	<Identity
	  Name="AMit-KP.Tunetastic"
	  Publisher="CN=B90A5939-9B2E-481A-9AAB-88AC3440759B"
	  Version="1.52.0.0"/>

	<mp:PhoneIdentity PhoneProductId="1e56cd21-fffd-4018-bebd-94b2cb6d6063" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>Tunetastic</DisplayName>
		<PublisherDisplayName>AMit-KP</PublisherDisplayName>
		<Logo>Assets\Store\StoreLogo.png</Logo>
<desktop6:RegistryWriteVirtualization>disabled</desktop6:RegistryWriteVirtualization>
    <desktop6:FileSystemWriteVirtualization>disabled</desktop6:FileSystemWriteVirtualization>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.18362.0" MaxVersionTested="10.0.19041.0"/>
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.18362.0" MaxVersionTested="10.0.19041.0"/>
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$" uap18:TrustLevel="mediumIL" uap18:RuntimeBehavior="packagedClassicApp">
			<uap:VisualElements
			  DisplayName="Tunetastic"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Store\Square150x150Logo.png"
			  Square44x44Logo="Assets\Store\Square44x44Logo.png" Description="Tunetastic is a next gen music player for Windows 11 that blends sleek design and deep personalization, turning your library into an experience that’s as unique, expressive and captivating as the music you love. 🎶">
				<uap:DefaultTile Wide310x150Logo="Assets\Store\Wide310x150Logo.png" Square71x71Logo="Assets\Store\SmallTile.png" Square310x310Logo="Assets\Store\LargeTile.png">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo"/>
						<uap:ShowOn Tile="wide310x150Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile >
				<uap:SplashScreen Image="Assets\Store\SplashScreen.png"/>
				<uap:InitialRotationPreference>
					<uap:Rotation Preference="landscape"/>
					<uap:Rotation Preference="portrait"/>
					<uap:Rotation Preference="landscapeFlipped"/>
					<uap:Rotation Preference="portraitFlipped"/></uap:InitialRotationPreference>
			</uap:VisualElements>
			<Extensions>
				<desktop4:Extension Category="windows.fileExplorerContextMenus">
					<desktop4:FileExplorerContextMenus>
						<desktop5:ItemType Type="Directory">
							<desktop5:Verb Id="CustomMenu" Clsid="b4486de7-9f03-4142-93d5-069447178f01"/>
						</desktop5:ItemType>
						<desktop5:ItemType Type="*">
							<desktop5:Verb Id="CustomMenu" Clsid="b4486de7-9f03-4142-93d5-069447178f01"/>
						</desktop5:ItemType>
						<desktop5:ItemType Type="Directory\Background">
							<desktop5:Verb Id="CustomMenu" Clsid="b4486de7-9f03-4142-93d5-069447178f01"/>
						</desktop5:ItemType>
					</desktop4:FileExplorerContextMenus>
				</desktop4:Extension>
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:SurrogateServer DisplayName="Custome Context Menu">
							<com:Class Id="b4486de7-9f03-4142-93d5-069447178f01" Path="ContextMenuCustomHost.dll" ThreadingModel="STA"/>
						</com:SurrogateServer>
					</com:ComServer>
				</com:Extension>
				<uap3:Extension Category="windows.appExecutionAlias">
					<uap3:AppExecutionAlias>
						<desktop:ExecutionAlias Alias="Tunetastic.exe"/>
					</uap3:AppExecutionAlias>
				</uap3:Extension>
        <uap5:Extension Category="windows.startupTask">
          <uap5:StartupTask TaskId="TunetasticStartOnLoginTask" Enabled="false" DisplayName="Tunetastic" />
        </uap5:Extension>
				<uap:Extension Category="windows.mediaPlayback">
					<uap:MediaPlayback>
						<uap:Codec Name="PCM"/>
						<uap:Codec Name="FLAC"/>
						<uap:Codec Name="WMA Lossless"/>
						<uap:Codec Name="BWF (Broadcast Wave Format)"/>
						<uap:Codec Name="MP3 (MPEG-1/2 Layer III)"/>
						<uap:Codec Name="MP2 (MPEG-1/2 Layer II)"/>
						<uap:Codec Name="AAC"/>
						<uap:Codec Name="HE-AAC / AAC+"/>
						<uap:Codec Name="WMA"/>
						<uap:Codec Name="WMA Pro"/>
						<uap:Codec Name="WMA Voice"/>
						<uap:Codec Name="MP4 audio"/>
						<uap:Codec Name="RIFF/WAV"/>
						<uap:Codec Name="ASF (Windows Media)"/>
						<uap:Codec Name="3GPP audio"/>
						<uap:Codec Name="MIDI"/>
						<uap:Codec Name="ALAC (Apple Lossless)"/>
						<uap:Codec Name="WavPack"/>
						<uap:Codec Name="Monkey&amp;apos;s Audio"/>
						<uap:Codec Name="TTA (True Audio)"/>
						<uap:Codec Name="Shorten"/>
						<uap:Codec Name="RealAudio Lossless"/>
						<uap:Codec Name="MLP (Meridian Lossless Packing)"/>
						<uap:Codec Name="Dolby TrueHD"/>
						<uap:Codec Name="DTS-HD Master Audio"/>
						<uap:Codec Name="AIFF-C (lossless)"/>
						<uap:Codec Name="RF64"/>
						<uap:Codec Name="CAF (Core Audio Format)"/>
						<uap:Codec Name="MP1 (MPEG-1/2 Layer I)"/>
						<uap:Codec Name="xHE-AAC"/>
						<uap:Codec Name="Vorbis"/>
						<uap:Codec Name="Opus"/>
						<uap:Codec Name="Speex"/>
						<uap:Codec Name="AC-3 / Dolby Digital"/>
						<uap:Codec Name="E-AC-3 / Dolby Digital Plus"/>
						<uap:Codec Name="DTS"/>
						<uap:Codec Name="DTS Express"/>
						<uap:Codec Name="DTS:X"/>
						<uap:Codec Name="ATRAC / ATRAC3"/>
						<uap:Codec Name="RealAudio"/>
						<uap:Codec Name="AMR-NB"/>
						<uap:Codec Name="AMR-WB / G.722.2"/>
						<uap:Codec Name="AMR-WB+"/>
						<uap:Codec Name="EVRC / EVRC-B / EVRC-WB"/>
						<uap:Codec Name="QCELP"/>
						<uap:Codec Name="iLBC"/>
						<uap:Codec Name="G.711 (µ-law / A-law)"/>
						<uap:Codec Name="G.722"/>
						<uap:Codec Name="G.723.1"/>
						<uap:Codec Name="G.726"/>
						<uap:Codec Name="G.729"/>
						<uap:Codec Name="GSM 06.10"/>
						<uap:Codec Name="Silk (Skype)"/>
						<uap:Codec Name="Nellymoser ASAO"/>
						<uap:Codec Name="Cook (RealAudio G2)"/>
						<uap:Codec Name="CELT"/>
						<uap:Codec Name="AAC-ELD"/>
						<uap:Codec Name="Siren"/>
						<uap:Codec Name="VQF (TwinVQ)"/>
						<uap:Codec Name="Matroska Audio"/>
						<uap:Codec Name="WebM (audio)"/>
						<uap:Codec Name="OGG"/>
						<uap:Codec Name="AIFF"/>
						<uap:Codec Name="MPEG transport stream"/>
						<uap:Codec Name="Flash Video (audio)"/>
						<uap:Codec Name="QuickTime"/>
						<uap:Codec Name="RealMedia"/>
						<uap:Codec Name="MXF"/>
						<uap:Codec Name="LPCM in MPEG"/>
						<uap:Codec Name="MOD"/>
						<uap:Codec Name="XM (Extended Module)"/>
						<uap:Codec Name="IT (Impulse Tracker)"/>
						<uap:Codec Name="S3M"/>
						<uap:Codec Name="AU (Sun/NeXT)"/>
						<uap:Codec Name="VOC (Creative Voice)"/>
						<uap:Codec Name="8SVX / IFF (Amiga)"/>
						<uap:Codec Name="SD2 (Sound Designer II)"/>
						<uap:Codec Name="ADX (CRI Middleware)"/>
						<uap:Codec Name="DSP"/>
						<uap:Codec Name="XA (PlayStation)"/>
						<uap:Codec Name="XWMA (Xbox)"/>
						<uap:Codec Name="XMA / XMA2"/>
					</uap:MediaPlayback>
				</uap:Extension>
      </Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust"/>
    <rescap:Capability Name="unvirtualizedResources" />
		<uap3:Capability Name="backgroundMediaPlayback"/>
	</Capabilities>
</Package>
